In [18]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

In [19]:
engine = create_engine('mysql+mysqlconnector://root:root@localhost:8889/ramapoed_omek1', echo=False)

In [22]:
omek_collections_df = pd.read_sql('SELECT * FROM omek_collections LIMIT 100', engine)

In [23]:
omek_collections_df.head()

   id  public  featured               added            modified  owner_id
0   1       1         0 2014-05-01 21:46:36 2018-07-25 15:46:25         1
1   2       1         0 2014-05-01 21:47:50 2018-07-25 15:46:25         1
2   3       1         0 2014-05-02 20:13:43 2018-07-25 15:46:25         1
3   4       1         0 2014-05-02 20:14:10 2018-07-25 15:46:25         1
4   5       1         0 2014-05-02 20:14:40 2018-07-25 15:46:25         1

omek_collections: each row is a collection with attributes owner, date/time added, date/time modified. <br> 
Omeka definition: "In Omeka, an item can only belong to one collection. Collections can, of course, have multiple items. The concept of Omeka collections originates from museum and archives collections; one cannot put a document into more than one box. It is not necessary to follow a traditional interpretation of a collection, say by owner or donor. In Omeka, you can also use tags to organize similar items into categories." <br> 
Link to Jane Addams digital edition collections: https://digital.janeaddams.ramapo.edu/collection-tree

In [27]:
omek_collection_trees_df = pd.read_sql('SELECT * FROM omek_collection_trees LIMIT 100', engine)
omek_collection_trees_df.head()

,id,parent_collection_id,collection_id,name
0,1,0,1,"University of Chicago, Regenstein Library"
1,2,1,2,Charlotte Abbott Addendum to the Grace and Edi...
2,3,1,3,Grace and Edith Abbott Papers
3,4,5,4,"Grace and Edith Abbott Papers, 1897-1954"
4,5,0,5,"University of Nebraska-Lincoln, University Arc..."

omek_collection_trees: each row represents a specific collection of documents (a collection tree) with attributes specifying a parent collection (if it exists), an id, and a name. <br>
Collection tree is an Omeka definition: https://omeka.org/classic/docs/Plugins/CollectionTree/

omek_comments is the next table in the databse. From what I can tell it is comments on the transcription of each document and not relevant to our work.

In [36]:
omek_elements_df = pd.read_sql('SELECT * FROM omek_elements LIMIT 100', engine)
omek_elements_df.head()

,id,element_set_id,order,name,description,comment
0,1,3,NaN,Text,The transcription of the document,
1,2,3,NaN,Interviewer,The person(s) performing the interview,
2,3,3,NaN,Interviewee,The person(s) being interviewed,
3,4,3,NaN,Location,The location of the interview,
4,5,3,NaN,Transcription,Any written text transcribed from a sound,

omek_elements is just a description of what each type of element is. No actual data from the database. <br> 
omek_element_sets is a similar thing. Helpful definitions, but not relevant data.

In [48]:
omek_element_texts_df = pd.read_sql('SELECT * FROM omek_element_texts LIMIT 100', engine)
omek_element_texts_df.head()

,id,record_id,record_type,element_id,html,text
0,1,1,Collection,50,0,"ICU-JRM - University of Chicago, Regenstein Li..."
1,2,2,Collection,50,0,CAA-ICU-JRM - Charlotte Abbott Addendum to the...
2,3,3,Collection,50,0,GEA-ICU-JRM - Grace and Edith Abbott Papers
3,4,4,Collection,50,0,"GEA-NbU - Grace and Edith Abbott Papers, 1897-..."
4,5,5,Collection,50,0,"NbU - University of Nebraska-Lincoln, Universi..."

omek_element_texts: honestly not sure what this is. The text attribute seems to be referencing diff collections.

I'm skipping ahead a little here and will go back for more but I think omek_items is going to have most of the data we want? No it wasn't.

In [124]:
df = pd.read_sql('SELECT * FROM omek_search_texts', engine)
df.head()

,id,record_type,record_id,public,title,text
0,1,Item,5,1,"Addams, Jane (1860-1935)",Civil Rights Education Hull-House Peace Progre...
1,2,Item,6,1,"Roosevelt, Theodore (1858-1919)",Men Military Politics Progressive Party Republ...
2,3,Item,7,1,"Fawcett, Millicent Garrett (1847-1929)",Civil Rights England Social Reform Woman Suffr...
3,4,Item,8,1,"Kellor, Frances Alice (1873-1952)","Labor Law Progressive Party Women Kellor, Fran..."
4,5,Item,9,1,"Johnson, Hiram W. (1866-1945)","Men Politics Progressive Party Johnson, Hiram ..."

In [131]:
df.title[500]

'Jane Addams to M. Carey Thomas, November 24, 1906'

In [132]:
df.text[500]

'Education Lectures Requests Jane Addams to M. Carey Thomas, November 24, 1906 Addams, Jane 1906-11-24 Addams regrets that the pressure of work from chairing the School Management Committee makes it impossible for her to lecture in the East this winter.  Addams, Jane, requests to Addams, Jane, and woman suffrage education letter JPEG English Public domain Hajo, Cathy Moran JAPM-04-1512 Typed letter signed Easy Cleared Sciancalepore, Victoria Hull-House\r\n335 SOUTH HALSTED STREET\r\nCHICAGO\r\nNov. 24, 1906.\r\nMy dear Miss Thomas:\r\nI am sincerely sorry that it is impossible for me to leave Chicago this winter. The chairmanship of the School Management Committee of the Public Schools implies very constant and exigent work, and I seem to have come upon the moment for doing rather than for speaking. I am sorry to fail "the cause" and I need not assure you that it is an additional matter for regret to decline an invitation given by yourself.\r\nWith cordial greetings to Miss Garrett, I am\r\nFaithfully yours,\r\nJane Addams. [signed]\r\nMiss Thomas,\r\nPresident Bryn Mawr College. Not Needed Cleared No Published Published Published A poor quality image on the microfilm has been replaced with a new scan from  Bryn Mawr College.  Yes Yes Yes '

Pretty sure this one is the one we'll use primarily. Title refers to the title of the element. Text is everything that's on the page basically. We can do some data cleaning to boil it down to just the transcription or extract any other info that's on the page.  And it looks like record_id refers to the table above "omek_element_texts".

For that element that I selected above, the text of the document begins with the "Hull House" after the first "\r\n" and ends with "President Bryn Mawr College" after the last "\r\n". Here is the link to the corresponding page on the Digital Edition: https://digital.janeaddams.ramapo.edu/items/show/539

In [110]:
df2 = pd.read_sql('SELECT * FROM omek_tags LIMIT 100', engine)
df2.head()

    id               name
0  258          Abolition
1  419             Africa
2   70  African-Americans
3  213        Agriculture
4  263    Americanization

In [111]:
df2.name.unique()

array(['Abolition', 'Africa', 'African-Americans', 'Agriculture',
       'Americanization', 'Anarchism', 'Anti-Semitism', 'Arbitration',
       'Architecture', 'Argentina', 'Armenia', 'Art', 'Articles',
       'Australia', 'Austria', 'Autobiography', 'Awards and Honors',
       'Belgium', 'Beligium', 'Biblical figures', 'Biography', 'Biology',
       'Books', 'Botswanna', 'Buiness', 'Bulgaria', 'Burma', 'Business',
       'Canada', 'Celebrations', 'Charities', 'Charity', 'Chicago',
       'Child Labor', 'Child Welfare', 'Children', 'China',
       'Civil Rights', 'Civil Service', 'Clubs', 'Colonialism',
       'Communism', 'Conferences', 'Congo', 'Conscription', 'Consumerism',
       'Courts', 'Crafts', 'Crime', 'Crime Enforcement', 'Criticism',
       'Czechoslovakia', 'Death', 'Democracy', 'Democratic Party',
       'Denmark', 'Diplomacy', 'Disability', 'Disarmament', 'Disasters',
       'Economics', 'Economy', 'Education', 'Egypt', 'Employment',
       'Engineering', 'England', 'Environment', 'Ethics', 'Ethnic Groups',
       'Eugenics', 'Eulogies', 'Events', 'Family', 'Fashion', 'Feminism',
       'Film', 'Finance', 'Finances', 'Finland', 'Foreign Policy',
       'France', 'Free Speech', 'French', 'Friends', 'Gambling',
       'Gender Roles', 'Geography', 'Geology', 'German', 'Germany',
       'Gossip', 'Government', 'Greece', 'Health', 'help', 'Help!',
       'Historical figures', 'History', 'Holidays'], dtype=object)

This one looks like it could be helpful?